/* mystyle.css */
.row.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-secondary, .btn-success {
    margin-top: 10px; }

@media (min-width: 768px) {
    .btn-secondary {
        margin-left: auto; 
    }
    .btn-success {
        margin-left: auto; 
    }
}


