/* mystyle.css */
ul {
    list-style-type: circle;
    list-style-position: inside;
}

h1 {
    font-family: 'Itim', sans-serif;
    font-size: 24pt;
    color: rgb(10, 116, 70);
}

h1.myh1{
    font-size: 36pt;
    margin: 30px;
    padding: 20px;
    border: 3px solid rgb(179, 250, 204);
    border-radius: 20%;
    text-align: center;
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

h1:hover{
    background-color: rgb(244, 255, 197);
}

body {
    font-family: 'Itim', sans-serif;
    color: #136739;
    background-color: antiquewhite; 
    background-image: url('https://i.pinimg.com/736x/23/ce/9f/23ce9f5f2805d660afd476f0a82b7caa.jpg');
    display: grid;
    place-items: center;
    height: 70vh;
    margin: 0;
}

input[type="text"]:hover{
    background-color: rgb(252, 255, 215);
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #b11a1a; 
    color: #ffffff;            
    cursor: pointer;           
}

img {
    display: block;
    margin: 10px auto;
    width: 100px;
    border-radius: 100%;
}

